<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Warehouse</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">My Warehouse</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <h1 class="my-4">My Warehouse</h1>
        <a href="/addProduct" class="btn btn-primary mb-3">Add Product</a>


        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price per Product</th>
                    <th>Quantity</th>
                    <th>Expiry Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if length %}
                {% for product in data %}
                <tr>
                    <td>#{{product["item"]}}</td>
                    <td>{{warehouse[product["item"]]["name"]}}</td>
                    <td>{{warehouse[product["item"]]["description"]}}</td>
                    <td>$ {{warehouse[product["item"]]["price"]}}</td>
                    <td>{{warehouse[product["item"]]["quantity"]}}</td>
                    <td>{{product["expiry"]}}</td>
                    <td>
                        {% if product["item"] == firstIndex["item"] %}
                        <a class="btn btn-sm btn-danger" href="/deleteProduct/{{product['item']}}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-center">No products found</td>
                </tr>
                {% endfor %}
                {% elif not length %}
                <tr>
                    <td colspan="7" class="text-center">No products found</td>
                </tr>
                {% endif %}
                <!-- add more products here -->
            </tbody>
        </table>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"
        integrity="sha384-D8ozhsDGxN/2Mdng1AFez7V22FGvJo0G0V/TphNlZp4w8gPNBp95ixHIFSwDwtRm"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>